In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series=([1,2,3,4,5,6])

In [3]:
s

[1, 2, 3, 4, 5, 6]

In [7]:
dates=pd.date_range("20130101",periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.817309  1.291222  0.140912  0.905228
2013-01-02  0.739276  0.261658 -1.062873  0.852905
2013-01-03  0.284707 -0.550541  1.500442 -0.199554
2013-01-04  0.014254 -0.203678  2.322245  0.324149
2013-01-05  0.101339  0.508513  2.231774  0.697989
2013-01-06  0.034484  2.393023 -1.138368 -0.959323

In [11]:
Dict=dict({1:'This',2:'is',3:'Daiict'})
print(Dict)

{1: 'This', 2: 'is', 3: 'Daiict'}

In [12]:
Dict={}
Dict

{}

In [13]:
Dict=([(1,'for'),(2,'shekhar')])
print(Dict)

[(1, 'for'), (2, 'shekhar')]

In [16]:
dates=pd.date_range("20210201",periods=7)
df=pd.DataFrame(np.random.rand(7,4),index=dates,columns=list("PQRS"))
df

                   P         Q         R         S
2021-02-01  0.716858  0.025618  0.684291  0.012165
2021-02-02  0.857853  0.238024  0.900235  0.690936
2021-02-03  0.536007  0.562080  0.123674  0.920048
2021-02-04  0.557203  0.889147  0.812458  0.108474
2021-02-05  0.260297  0.933480  0.028478  0.781803
2021-02-06  0.209463  0.917319  0.757865  0.212594
2021-02-07  0.060369  0.313253  0.185531  0.800038

In [17]:
df.tail(4)

                   P         Q         R         S
2021-02-04  0.557203  0.889147  0.812458  0.108474
2021-02-05  0.260297  0.933480  0.028478  0.781803
2021-02-06  0.209463  0.917319  0.757865  0.212594
2021-02-07  0.060369  0.313253  0.185531  0.800038

In [19]:
df.head(2)

                   P         Q         R         S
2021-02-01  0.716858  0.025618  0.684291  0.012165
2021-02-02  0.857853  0.238024  0.900235  0.690936

In [20]:
df.tail(3)

                   P         Q         R         S
2021-02-05  0.260297  0.933480  0.028478  0.781803
2021-02-06  0.209463  0.917319  0.757865  0.212594
2021-02-07  0.060369  0.313253  0.185531  0.800038

In [21]:
df.tail()

                   P         Q         R         S
2021-02-03  0.536007  0.562080  0.123674  0.920048
2021-02-04  0.557203  0.889147  0.812458  0.108474
2021-02-05  0.260297  0.933480  0.028478  0.781803
2021-02-06  0.209463  0.917319  0.757865  0.212594
2021-02-07  0.060369  0.313253  0.185531  0.800038

In [23]:
df.index

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06', '2021-02-07'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['P', 'Q', 'R', 'S'], dtype='object')